@charset "UTF-8";
/* CSS Document */


body {
	background-color: #999;
	font-family: Arial, Helvetica, sans-serif;
	}

a:link{ 
	color:green; text-decoration:none; 
}
a:visited{ 
	color:green; text-decoration:none; 
}
a:hover{ 
	color:red; text-decoration:none; 
}
a:active{ 
	color:orange; text-decoration:none; 
}

#content{
	background-color: #FFFFFF;
	border: thin solid #000000;
}

#header{
	azimuth:center;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
	border: medium outset #000000;
	margin-top: 5px;
	margin-bottom: 5px;
	height: auto;
	min-height: 92px;
}

#searchForm{
	azimuth:far-right;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
	right: 5%;
	margin-left: 50%;
}

#pagination * {
	margin: 15px;
}

#map_legend_wrapper{
	clear: both;
}

#map_legend{
	background-color: #FFF;
	padding: 5px;
	border: thin solid #000;
}

#map_legend_list {
	list-style-type: none;
}


#map{
	margin-bottom: 5px;
	border: thin solid #000;
	height: auto;
	width: auto;
}

#logo{
	float: left;
}

#title{
	padding-right: 92px;
	text-align:center;
}

#footer{
text-align:center;
}
